/* .nav {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 15px 0px;
    background-color: rgba(0,0,0,0.05);
}
.nav__list {
  display: flex;
  justify-content: center;
}
.nav__btn {
    width: 25%;
    display: flex;
    justify-content: center;
}
.nav__link i {
    color: rgba(0,0,0,0.8)
} */
.nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(187, 185, 185, 0.4)
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2F363E;
}
